.register-component{
    height:100%;
    width:100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form{
    display: flex;
    flex-direction: column;
}
